/**
 * Created by Bhavesh Desai on 22/06/2017.
 */
.green-text {
    color: green
}

.red-text {
    color: red
}

.tableROw {
    width: 100em;
    height: 100px;
}

html, body { margin: 0; padding: 0; height: 100%; }